<p>Ce site est édité par <a href="https://design.numerique.gouv.fr" target="_blank" title="DesignGouv - nouvelle fenêtre">DesignGouv</a>, l’équipe qui 
fait du bien au web public :)</p>
</body>
</html>
