
    <div class="bandeau fr-py-2v" >
    <div class="fr-container">
        <p>
            <span class="fr-icon-info-line" aria-hidden="true"></span> 
            Vous êtes actuellement sur un site en version <strong>beta</strong> qui n’a donc pas de valeur légale.<br>Seul le contenu présent sur <a target="_blank" title="numerique.gouv.fr - nouvelle fenêtre" href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/" >numerique.gouv.fr</a> fait foi pour le référentiel général d’amélioration de l’accessibilité (RGAA).
        </p>
        </div>
    </div>

