<div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p>
                <span class="fr-notice__title">Le RGAA évolue.</span>
                <span class="fr-notice__desc">Les obligations légales sont en cours de mise à jour.</span>
            </p>
        </div>
    </div>
</div>
