
    <div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p class="fr-notice__title">
				Ce site est en version <strong>bêta</strong>, il n’a pas de valeur légale. Seul le contenu présent sur <a rel="noreferrer noopener" target="_blank" title="numerique.gouv.fr - nouvelle fenêtre" href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/" >numerique.gouv.fr</a> fait foi.
            </p>
        </div>
    </div>
</div>
