<div class="fr-notice fr-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title">La version 5 du RGAA est en cours de rédaction</span>, avec une publication prévue fin 2026. Cette échéance ne remet pas en cause la pertinence des travaux de mise en accessibilité en cours ou à venir : <span class="fr-notice__title">ils ne doivent en aucun cas être suspendus ou reportés</span>.
        <a href="https://design.numerique.gouv.fr/articles/2026-03-02-rgaa5/" target="_blank" rel="noopener external" class="fr-notice__link">Plus de détails sur le RGAA5</a>.
      </p>
    </div>
  </div>
</div>
