{% block contenu %}
<div class="fr-mt-2w fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-12">
        <div class="fr-accordions-group">
    	    {% for g in collections.faq %}
			    {% set question = g.question %}
        	    {% set slug = question.data.title | slugify %}
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ slug }}">{{ question.data.title }}</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-{{ slug }}">{{ question.templateContent | safe }}</div>
                </section>
            {% endfor %}
        </div>
	</div>
</div>
{% endblock %}
