<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <p class="fr-logo">
                    République
                    <br>française
                </p>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">La version 4.1 du RGAA a été arrêtée conjointement par la ministre chargée des personnes handicapées et le ministre chargé du numérique le 20 septembre 2019.</p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" title="legifrance.gouv.fr - nouvelle fenêtre" target="_blank" href="https://www.legifrance.gouv.fr/">legifrance.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" title="gouvernement.fr - nouvelle fenêtre" target="_blank" href="https://www.gouvernement.fr/">gouvernement.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" title="service-public.fr - nouvelle fenêtre" target="_blank" href="https://www.service-public.fr/">service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" title="data.gouv.fr - nouvelle fenêtre" target="_blank" href="https://www.data.gouv.fr/">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/plan-du-site/">Plan du site</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/accessibilite/">Accessibilité : totalement conforme</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/mentions-legales/">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/contributions/">Contributions</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" title="licence etalab-2.0 - nouvelle fenêtre">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="module" src="/js/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/js/dsfr.nomodule.min.js"></script>
<script type="module" src="/js/main.module.js"></script>
<script type="text/javascript" nomodule src="/js/main.nomodule.js"></script>
</body>
</html>
