<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <p class="fr-logo">
                    République
                    <br>française
                </p>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">Ce site est réalisé par <a href="https://design.numerique.gouv.fr" target="_blank" title="DesignGouv - nouvelle fenêtre">DesignGouv</a>, le pôle Design des services numériques de la <a href="https://numerique.gouv.fr" target="_blank" title="direction interministérielle du numérique - nouvelle fenêtre">direction interministérielle du numérique</a>.</p>
                <ul class="fr-footer__content-list">
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                    </li>
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" href="https://data.gouv.fr">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/plan-du-site">Plan du site</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/accessibilite">Accessibilité : non conforme</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/mentions-legales">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/licence">Licence</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/contributions">Contributions</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/nouveautes">Quoi de neuf ?</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="/infos/notes-de-revision">Notes de révision</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="module" src="/js/dsfr.module.min.js"></script>
<script type="text/javascript" nomodule src="/js/dsfr.nomodule.min.js"></script>
<script type="module" src="/js/main.module.js"></script>
<script type="text/javascript" nomodule src="/js/main.nomodule.js"></script>
</body>
</html>
