<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }} " />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/dsfr.min.css" />
    <link rel="stylesheet" href="/css/utility/utility.min.css" />
    <link rel="stylesheet" href="rgaa.scss" />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" /><!-- 32×32 -->
    <link rel="manifest" href="/favicon/manifest.webmanifest" crossorigin="use-credentials" />
    <title>{{ title }} - RGAA</title>
	{% include "components/matomo.njk" %}
</head>
<body>
    <div id="top" class="fr-skiplinks">
        <nav class="fr-container" role="navigation" aria-label="Accès rapide">
            <ul class="fr-skiplinks__list">
                <li><a class="fr-link" href="#contenu">Contenu</a></li>
                <li><a class="fr-link" href="#header-navigation">Menu</a></li>
                <li><a class="fr-link" href="#footer">Pied de page</a></li>
            </ul>
        </nav>
    </div>
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo">République<br/>Française</p>
                            </div>
                            <div class="fr-header__navbar">
                                <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu-mobile" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">Menu</button>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Accueil - Référentiel général d’amélioration de l’accessibilité">
                                <p class="fr-header__service-title">Référentiel général d’amélioration de l’accessibilité</p>
                            </a>
                            <p class="fr-header__service-tagline">RGAA - Version 4.1.2</p>
                        </div>
                    </div>
					<div class="fr-header__tools">
						<div class="fr-header__tools-links">
							<div class="fr-links-group">
								<a class="fr-link fr-icon-menu-2-fill" href="/methode/criteres-et-tests/">Critères et tests</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
        {% include "components/navigation.njk" %}
    </header>
