<div class="fr-header__menu fr-modal" id="modal-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
<div class="fr-container">
    <button class="fr-link--close fr-link" aria-controls="modal-menu-mobile">Fermer</button>
    <div class="fr-header__menu-links"></div>
    <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="fr-nav__item {% if entry.url == page.url %} fr-nav__item--active{% endif %}">
            {% if entry.title ==  "Ressources" %}
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-ressources">{{ entry.title }} </button>
            <div class="fr-collapse fr-menu" id="menu-ressources">
                <ul class="fr-menu__list">
                {% for g in collections.ressources %}
                 <li><a class="fr-nav__link" href="/ressources/{{  g.slug }}" target="_self">{{  g.ressource.data.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% elif entry.title ==  "Obligations" %}
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-obligations">{{ entry.title }} </button>
            <div class="fr-collapse fr-menu" id="menu-obligations">
                <ul class="fr-menu__list">
                {% for g in collections.obligations %}
                 <li><a class="fr-nav__link" href="/obligations/{{  g.slug }}" target="_self">{{  g.obligation.data.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% else %}
                <a class="fr-nav__link" href="{{ entry.url | url }}" {% if entry.url == page.url %}aria-current="page"{% endif %}>{{ entry.title }}</a>
            {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </nav>
</div>
</div>