<div class="fr-sidemenu fr-sidemenu--sticky fr-sidemenu--sticky-full-height" >
    <div class="fr-sidemenu__inner">
	<!--div id="criteria-filters" class="summary">
		<div class="fr-form-group">
		<fieldset class="fr-fieldset fr-fieldset--inline">
		<legend class="fr-fieldset__legend fr-sidemenu__title" id='checkboxes-inline-legend'>Filtrer par niveau <abbr lang="en" title="Web content accessibility guidelines">WCAG</abbr></legend>
		<div class="fr-fieldset__content">
		<div class="fr-checkbox-group">
		<input type="checkbox" id="checkboxes-inline-2" checked name="checkboxes-inline-2" data-filter="A">
		<label class="fr-label" for="checkboxes-inline-2">A</label>
		</div>
		<div class="fr-checkbox-group">
		<input type="checkbox" id="checkboxes-inline-3" checked name="checkboxes-inline-3" data-filter="AA">
		<label class="fr-label" for="checkboxes-inline-3">AA</label>
		</div>
		</div>
		</fieldset>
		</div>
		</div-->
        <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false" data-fr-js-collapse-button="true" hidden="">Toutes les thématiques</button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper" data-fr-js-collapse="true">
            <p class="fr-sidemenu__title">Thématiques</p>
            <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
			{% for c in collections.criteriaAndTests %}
				{% set themeNum = c.themeNum %}
				{% if themeNum != curThemeNum %}
					<li class="fr-sidemenu__item"><a class="fr-sidemenu__link" href="#{{ themeNum }}" target="_self">{{ themeNum }}.  {{ themes[themeNum].title }}</a></li>
				{% endif %}
				{% set curThemeNum = themeNum %}
			{% endfor %}
            </ul>
        </div>
    </div>
</div>
