{% include "components/header.njk" %}
<main role="main">
	<div class="fr-container fr-mt-4w fr-mb-4w">
    	<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    		<div class="fr-col-12 fr-col-sm-12 fr-col-md-10 fr-col-lg-8">
          {% block contenu %}
            <h1>{{ title }}</h1>
            {{ content | safe }}
          {% endblock %}
      </div>
    </div>
  </div>
</main>
{% include "components/footer.njk" %}