{% include "components/header.njk" %}
<main role="main" id="contenu">
<div class="rgaa-home">	
	<div class="fr-container fr-mb-6w fr-pt-7w">
    	<div class="fr-grid-row fr-grid-row--center">
    		<div class="fr-col-12 fr-col-sm-12 fr-col-md-10 fr-col-lg-8">
          <h1>{{ title }}</h1>
          <p>{{ publication}}</p>
          <p class="fr-text--lead">La <a target="_blank" title="direction interministérielle du numérique - nouvelle fenêtre" href="https://www.numerique.gouv.fr">Direction interministérielle du numérique (DINUM)</a> édite le <strong>référentiel général d’amélioration de l’accessibilité</strong> (RGAA), dont voici la quatrième version.</p>
          
          <p class="fr-text--lead">L’<strong>accessibilité numérique</strong> consiste à rendre les contenus et services numériques <strong>compréhensibles</strong> et <strong>utilisables</strong> par les personnes en situation de handicap.</p>
        </div>  
      </div>
    </div>
  </div>
	<div class="fr-container fr-mb-4w fr-pt-4w">
    	<div class="fr-grid-row fr-grid-row--center">
    		<div class="fr-col-12 fr-col-sm-12 fr-col-md-10 fr-col-lg-8">
          {% block contenu %}
          {{ content | safe }}
          {% endblock %}
      </div>
    </div>
  </div>
</main>
{% include "components/footer.njk" %}