{% include "components/header.njk" %}
<main role="main" id="contenu">
<div class="rgaa-home home">
	<div class="fr-container fr-mb-6w fr-pt-7w">
    	<div class="fr-grid-row">
    		<div class="fr-col-offset-1 fr-col-12 fr-col-sm-12 fr-col-md-6 ">
          <h1>{{ title }}</h1>
          <p class="fr-text--lead">L’<strong>accessibilité numérique</strong> consiste à rendre les contenus et services numériques <strong>compréhensibles</strong> et <strong>utilisables</strong> par les personnes en situation de handicap.</p>
        </div>
      </div>
    </div>
  </div>
	<div class="fr-container fr-mb-4w fr-mt-8w">
    <div class="fr-grid-row fr-grid-row--center">
    	<div class="fr-col-12 fr-col-md-10 ">
				{% block contenu %}
				{{ content | safe }}
				{% endblock %}
		  </div>
  	</div>
  </div>
</main>
{% include "components/footer.njk" %}
