{% include "components/header.njk" %}
<main role="main">
  <div class="fr-container fr-mt-4w">
    <div class="fr-grid-row">
      <div class="fr-col">

				{% set critNum = page.fileSlug %}

				<h1>Critère {{ critNum }}</h1>
				{{ content | safe }}
        {% for c in collections.criteriaAndTests %}

					{# Just pick this current criterion #}
					{% if c.critNum === critNum %}

						{% set crit = c.criterion %}
						{% set critNum = c.critNum %}
						{% set themeNum = c.themeNum %}
						{% set tests = c.tests %}

						<details>
							<summary>
								Tests
							</summary>
							<ul>
							{% for t in tests %}
								<li><strong>Test {{ t.testFullNum }} ({{ t.testSlug }})</strong>
								{{ t.test.templateContent | safe }}
							{% endfor %}
							</ul>
						</details>

					{% endif %}

        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% include "components/footer.njk" %}
