{% extends './base.njk' %}

{% block contenu %}
	<h1>{{ title }}</h1>
    {{ content | safe }}

	<dl>
	{% for g in collections.glossary %}
		{% set term = g.term %}
		{% set letter = term.data.title | truncate(1, true, "") %}

		<dt class="fr-h4" id="{{ g.anchor }}">{{ term.data.title }}</dt>
		<dd class="annexes fr-mb-4w">{{ term.templateContent  | safe }}</dd>
	{% endfor %}
	</dl>
{% endblock %}


