{% include "components/header.njk" %}
<main role="main">
	<div class="fr-container fr-mt-4w fr-mb-4w">
    	<div class="fr-grid-row">
    		<div class="fr-col">
				<h1>{{ title }}</h1>
				{{ content | safe }}
				{% set curThemeNum = 0 %}
				{% for c in collections.criteriaAndTests %}
					{% set crit = c.criterion %}
					{% set critNum = c.critNum %}
					{% set themeNum = c.themeNum %}
					{% set tests = c.tests %}

					{% if themeNum > 1 and themeNum !== curThemeNum %}
						</ul>
					{% endif %}

					{% if themeNum !== curThemeNum %}
						{% set curThemeNum = themeNum %}
						<h2>{{ themeNum }}.&nbsp;{{ themes[themeNum].title }}</h2>
						<ul>
					{% endif %}

					<li>
						<h3>Critère {{ critNum }}</h3>
						{{ crit.templateContent | safe }}
						<ul>
						{% for t in tests %}
							<li id="{{ t.testSlug }}">
								<h4>Test {{ t.testFullNum }} <a class="direct-link" href="#{{ t.testSlug }}">#</a></h4>
								{{ t.test.templateContent | safe }}
							</li>
						{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</main>
{% include "components/footer.njk" %}




