li {list-style-type: none;}
.annexes li { list-style-type: inherit; }
.technique li { list-style-type: none; display: inline; margin-right: 1rem;}
.annexes { padding: 1rem 2rem; background-color: aliceblue;}
.annexes p { margin-bottom:0; }
.fr-collapse--expanded { background-color: lemonchiffon; }
.fr-accordion__btn {
    background-color: transparent;
}
.summary {background-color: aliceblue; padding: 0.25em; }
code {background-color: gold; padding: 0.125rem 0.3125rem 0.0625rem;}

li.criterion {
    margin: 2em 0;
    padding: 0.25em;
    border: 1px solid #e5e5e5;
}
li.criterion button {
    font-size: smaller;
    flex-flow: row;
    width: fit-content;
    background: none;
}
li.criterion button:hover, li.criterion button:focus {
    background-image: none;
}
.crit {
    background-color: plum;
    padding: 0.2em 0.25em;
    display: inline-flex;
}