{% include "_components/header.njk" %}
<main role="main">
  <div class="fr-container fr-mt-4w">
    <div class="fr-grid-row">
      <div class="fr-col">
    <h1>Critère {{ title }}</h1>
    <p><strong>{{ theme }}</strong></p>
    {{ content | safe }}
      </div>
    </div>
  </div>  
</main>
{% include "_components/footer.njk" %}