p.beta {
	position: fixed;
	background-color: var(--background-action-high-red-marianne);
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	transform: rotate(45deg);
	padding: 0.15em 5em 0.15em 8em;
	margin: 1em 1em 1em 1em;
	right: -4em;
	top: 0;
	z-index: 2001;
}
code {
	border: 1px solid var(--artwork-minor-beige-gris-galet);
	border-radius: 0.15em;
	padding: 0.125rem;
	font-family: courier;
	background-color: ghostwhite;
}
.methodologie {
	font-size: 0.9em;
	padding-left: 2em;
	margin-top: 2em;
	background-color: #ffffff;
	p {
		font-weight: 800;
	}
}
.annexes {
	background-color: var(--background-action-low-blue-ecume);
	li {
		list-style-type: inherit;
	}
	small {
		font-size: 1rem;
		font-weight: lighter;
	}
	.technique li {
		display: inline;
	}
}
.ref {
	background-color: #ffffff;
}
.fr-accordion__btn {
	background-color: transparent;
}
.summary {
	padding: 0.25em;
}
.tests,
.annexes {
	padding: 1rem;
	margin: 0;
}
.test {
	margin-bottom: 2em;
	h4,
	p {
		display: inline;
	}
	ul li {
		list-style-type: disc;
	}
}
ul.letters {
	li a {
		font-size: 0.75rem;
	}
}
li.criterion {
	list-style-type: none;
	margin: 2em 0;
	padding: 0.25em;
	/*border: 1px solid var(--background-action-low-blue-ecume);*/
	border-top: 1px solid var(--artwork-minor-beige-gris-galet);
	h3 {
		font-weight: 400;
		span.crit {
			font-weight: 700;
		}
	}
	a.ancre {
		box-shadow: none;
	}
	.fr-collapse--expanded {
/*		
tests de couleurs :(
background-color: var(--background-action-low-blue-ecume);
background-color: var(--yellow-tournesol-975-75);
background-color: var(--background-alt-beige-gris-galet);
background-color: var(--yellow-moutarde-975-75);
*/
border-left: 3px solid var(--background-action-low-blue-ecume);
margin-left: 1.25em;
	}
	button {
		font-size: smaller;
		flex-flow: row;
		width: fit-content;
		background: none;
	}
	button:hover,
	button:focus {
		background-image: none;
	}
	.crit {
		font-weight: 200;
		padding-right: 0.25em;
		font-size: 1.25em;
	}
}
span.aModifier {
	background-color: var(--yellow-moutarde-975-75);
	font-weight: 200;
	padding: 0 0.2em;
}

.fr-modal__content {
	ul,
	ol {
		padding: 0 0 0 2em;
	}
	ul {
		list-style-type: revert;
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
	p {
		margin-top: 1em;
	}
}
