code {
	border: 1px solid var(--artwork-minor-beige-gris-galet);
	border-radius: 0.15em;
	padding: 0.125rem;
	font-family: courier;
	background-color: ghostwhite;
}

#criteria-container {
	h2 {
		color: var(--text-title-blue-france);
	}
	ul {
		padding: 0;
	}
}
.methodologie {
	font-size: 0.9em;
	background-color: #ffffff;
	text-align: right;
	p {
		font-weight: 800;
	}
	div.fr-collapse--expanded {
		text-align: left;
	}
}
.annexes {
	li {
		list-style-type: inherit;
	}
	small {
		font-size: 1rem;
		font-weight: lighter;
	}
	.technique li {
		display: inline;
	}
}
.fr-accordion__btn {
	background-color: transparent;
}
.summary {
	padding: 0.25em;
}
.test {
	margin-bottom: 2em;
	h4,
	p {
		display: inline;
	}
}
ul.letters {
	li a.fr-tag {
		background-color: var(--background-alt-blue-france);
	}
	li a {
		font-size: 0.75rem;
	}
}
button.fr-accordion__btn, div.methodologie {
	background-color: transparent;
}
li.criterion {
	list-style-type: none;
/*
	border-bottom: 1px solid var(--grey-200-850);

	a.ancre:hover {
		mask-image: url(../icons/business/links-line.svg) ;
		padding-left: 2em;
	}
*/	
li {
	list-style-position: inside;
}
	div.criteres, div.test {
		display: flex;
		justify-content: flex-start;
	}
	div.title {
		margin-left: 1em;
	}
	section.fr-accordion {
		background-color: var(--background-alt-blue-france);

		button {
			padding: 0 1em;
			&[aria-expanded="false"] {
				background-color: white;
			}
			&[aria-expanded="true"] {
				background-color:var(--background-alt-blue-france);
			}	
		}
		.fr-collapse--expanded {
			padding: 0 1em;
		}
		button:hover,
		button:focus {
			background-image: none;
		}
		.methodologie {
			button.fr-accordion__btn {
				background-color:var(--background-alt-blue-france);
			}	
		}
	}
}

dd {
	background-color:var(--background-alt-blue-france);
	margin:0;
	padding: 1em;
	li {
		list-style-position: inside;
	}
}

span.aModifier {
	background-color: var(--yellow-moutarde-975-75);
	font-weight: 200;
	padding: 0 0.2em;
}


a[href].direct-link {
	opacity: 0.60;
}	
a[href].direct-link:focus, a[href].direct-link:visited {
	opacity: 1;
}	

:focus>a[href].direct-link, :focus>a[href].direct-link:visited, :hover>a[href].direct-link, :hover>a[href].direct-link:visited, a[href].direct-link:focus, a[href].direct-link:focus:visited {
	opacity: 1;
}
a.direct-link {
	box-shadow: none;
	background-image: none;
}
.fr-modal__content {
	ul,
	ol {
		padding: 0 0 0 2em;
	}
	ul {
		list-style-type: revert;
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
	p {
		margin-top: 1em;
	}
}

.bandeau {
	background-color: var(--background-contrast-green-emeraude);
	p { 
		margin: 0;
		color: var(--text-label-green-emeraude);
	}
}

/* HOME */
.rgaa-home {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	background: var(--background-alt-blue-france);
}
main {
	overflow: hidden;
}
