code {
	border: 1px solid var(--artwork-minor-beige-gris-galet);
	border-radius: 0.15em;
	padding: 0.125rem;
	font-family: courier;
	background-color: ghostwhite;
}
.methodologie {
	font-size: 0.9em;
	background-color: #ffffff;
	text-align: right;
	p {
		font-weight: 800;
	}
	div.fr-collapse--expanded {
		text-align: left;
	}
}
.annexes {
	padding: 1rem;
	background-color: var(--background-action-low-blue-ecume);
	li {
		list-style-type: inherit;
	}
	small {
		font-size: 1rem;
		font-weight: lighter;
	}
	.technique li {
		display: inline;
	}
}
.ref {
	background-color: #ffffff;
}
.fr-accordion__btn {
	background-color: transparent;
}
.summary {
	padding: 0.25em;
}
.tests,
.annexes {
	/*padding: 1rem;*/
	margin: 0;
}
.test {
	margin-bottom: 2em;
	h4,
	p {
		display: inline;
	}
}
ul.letters {
	li a {
		font-size: 0.75rem;
	}
}
button.fr-accordion__btn, div.methodologie {
	background-color: transparent;
}
li.criterion {
	list-style-type: none;
	margin: 2em 0;
	padding: 0.25em;
	/*border: 1px solid var(--background-action-low-blue-ecume);
	border-top: 1px solid var(--artwork-minor-beige-gris-galet);*/
	h3 {
		font-weight: 400;
		span.crit {
			font-weight: 700;
		}
	}
			section {
				background-color: var(--background-alt-blue-france);
			}

	.fr-collapse--expanded {
/*		
tests de couleurs :(
background-color: var(--background-action-low-blue-ecume);
background-color: var(--yellow-tournesol-975-75);
background-color: var(--background-alt-beige-gris-galet);
background-color: var(--yellow-moutarde-975-75);
border-left: 3px solid var(--background-action-low-blue-ecume);
*/
margin-left: 1em;
	}
	button {
		font-size: smaller;
		flex-flow: row;
		width: fit-content;
		background: none;
	}
	button:hover,
	button:focus {
		background-image: none;
	}
	.crit {
		font-weight: 200;
		padding-right: 0.25em;
		font-size: 1.25em;
	}
	.methodologie button {
			//flex-flow: row-reverse;	
	}
}
span.aModifier {
	background-color: var(--yellow-moutarde-975-75);
	font-weight: 200;
	padding: 0 0.2em;
}
a.ancre {
	box-shadow: none;
	background-image: none;
}
.fr-modal__content {
	ul,
	ol {
		padding: 0 0 0 2em;
	}
	ul {
		list-style-type: revert;
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
	p {
		margin-top: 1em;
	}
}

.bandeau {
	background-color: var(--background-contrast-green-emeraude);
	p { 
		margin: 0;
		color: var(--text-label-green-emeraude);
	}
}

/* HOME */
.rgaa-home {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	background: var(--background-alt-blue-france);
}
main {
	overflow: hidden;
}